[Unit]
Description=Reverse TLS Tunnel

[Service]
Type=idle
User=root
WorkingDirectory=/home/marzban/rtt
ExecStart=/home/marzban/rtt/RTT --kharej --iran-ip:irip --iran-port:irport --toip:127.0.0.1 --toport:multiport --sni:sni --pool:n --password:pass --terminate:24 --log:1
Restart=always

[Install]
WantedBy=multi-user.target